@font-face {
    font-family: "armadura";
    src: url("fonts/armadurasolidcyrillic.ttf");
}

@font-face {
    font-family: "consolas";
    src: url("fonts/consolas.ttf");
}

@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto-Medium.ttf");
}

:root {
    /*colors*/
    --main-text: #defcff;
    --main-hover: rgb(4, 44, 90);
    --main--hover-shadow: #c9fbff;

    /*pics*/
    --top: url("pics/top.png");
    --bottom: url("pics/bottom.png");
    --main: url("pics/main.png");
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.body {
    background: var(--top) repeat-x top center, var(--bottom) repeat-x bottom center, var(--main) repeat;
    color: var(--main-text);
    font-family: "consolas", sans-serif;
    margin: 0;
}

.body-part {
    max-width: 1200px;
    margin: 0 auto 5%;
    box-shadow: 0 0 10px var(--main-text), 0 0 20px var(--main-hover);
    border: 5px solid var(--main-text);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.header {
    margin-top: 500px;
    padding: 10px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
}

.menu-element, .topic-text {
    color: var(--main-text);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "armadura", sans-serif;
}

.menu-element:hover, .topic-text:hover {
    color: var(--main-hover);
    text-shadow: 0px 2px 2px var(--main--hover-shadow), 0 0 1em var(--main--hover-shadow);
}

.main {
    margin-top: 20px;
    box-shadow: 0 0 10px var(--main-text), 0 0 20px var(--main-hover);
    border: 5px solid var(--main-text);
    border-radius: 20px;
}

.main-header {
    text-transform: uppercase;
    font-family: "armadura", sans-serif;
    text-align: center;
    font-size: 150%;
    width: 90%;
    margin: 5% auto 0;
}

.main-category {
    width: 90%;
    margin: 5% auto 0;
}

.main-category:last-child {
    margin-bottom: 5%;
}

.category-header {
    margin-bottom: 0;
    text-align: center;
    box-shadow: 0 0 10px var(--main-text), 0 0 20px var(--main-hover);
    border: 2px solid var(--main-text);
    border-radius: 20px;
    text-transform: uppercase;
    font-family: "armadura", sans-serif;
    font-size: 1.4em;
    line-height: 100%;
    font-weight: 100;
    padding: 2% 2% 3%;
    z-index: 2;
}
.category-header:hover a {
    color: var(--main-hover);
    text-shadow: 0px 2px 2px var(--main--hover-shadow), 0 0 1em var(--main--hover-shadow);
}

.category-header a {
   color: var(--main-text);
}

.category-list {
    width: 90%;
    margin: 0 auto 0;
    border: 1px solid var(--main-text);
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.5s;
}

.category-spoiler[open] .category-list {
  animation: spoiler 1s;
}
@keyframes spoiler {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.category-item {
    padding: 2%;
}

.topic {
    display: flex;
    justify-content: space-around;
}

.topic-link {
    min-width: 300px;
}

.topic-icon {
    background: url("pics/icon.png") center no-repeat;
    width: 60px;
    height: 60px;
}

